// ================================================================================
// Title
// ================================================================================

.c-text { 
    margin-top: 10px;
    width: 800px;
    text-transform: none;
    
    a {
        color: var(--color-palette-red);
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__descricaoItem {
        padding: 30px;
        padding-top: 15px;
        padding-bottom: 0px;
        font-size: 13px;
        text-align: center;
    }
}