// ================================================================================
// GLOBAIS
// ================================================================================

@import 'fonts/fonts';
@import 'global/functions';
@import 'global/mixins';
@import 'global/vars';

// ================================================================================
// LAYOUTS
// ================================================================================

@import 'layouts/layouts';

// ================================================================================
// COMPONENTS
// ================================================================================

@import 'components/barraPesquisa';
@import 'components/buttons';
@import 'components/card';
@import 'components/filtro';
@import 'components/global';
@import 'components/header';
@import 'components/menu';
@import 'components/nfPage';
@import 'components/pokemonSelecionado';
@import 'components/stats';
@import 'components/text';
@import 'components/title';

// ================================================================================
// DEFINIONS
// ================================================================================

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-transform: capitalize;
}

body {
    background-color: var(--color-palette-b-gray);
    overflow: scroll;
}

html {
    scroll-behavior: smooth;
}